@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic&subset=latin,cyrillic-ext,greek-ext,greek,devanagari,vietnamese,latin-ext,cyrillic);

@font-face {
    font-family: 'Clash Of Clans';
    src: url("/public/fonts/supercell-magic-webfont.eot");
    src: url("/public/fonts/supercell-magic-webfont.eot?#iefix") format("embedded-opentype"), url("/public/fonts/supercell-magic-webfont.woff") format("woff"), url("/public/fonts/supercell-magic-webfont.ttf") format("truetype"), url("/public/fonts/supercell-magic-webfont.svg#supercell-magicregular") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Clash Of Clans';
    src: url("/public/fonts/supercell-magic-webfont.eot");
    src: url("/public/fonts/supercell-magic-webfont.eot?#iefix") format("embedded-opentype"), url("/public/fonts/supercell-magic-webfont.woff") format("woff"), url("/public/fonts/supercell-magic-webfont.ttf") format("truetype"), url("/public/fonts/supercell-magic-webfont.svg#supercell-magicregular") format("svg");
    font-weight: bold;
    font-style: normal;
}


html, body {
    height: 100%;
    font-family: "Noto Sans", sans-serif;
}

.coc {
    font-family: "Clash of Clans", "Noto Sans", sans-serif;
    text-shadow: 0 3px 0 rgba(0,0,0,0.25);
}
.Application.index {
    background: #000 url('/public/images/CoC_titlescreen_2013_1440_727_c1.jpg') no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.Application .jumbotron {
    background-color: rgba(200, 200, 200, 0.90);
    padding-top: 100px;
    margin-bottom: 0px;
}
.Application.index .whiteAlpha{
    background-color: rgba(255, 255, 255, 0.90);
}

