#{extends './_application.html' /}
#{set title:'Home' /}

#{set 'moreHead'}

#{/set}

<div class="container" style="padding: 10px;">
    <h3 class="coc">Build Order</h3>
    <ol class="buildOrder">
        <li><a href="http://clashofclans.wikia.com/wiki/Clan_Castle">클랜성(Clan Castle)</a>을 인구수 20이 될 때까지. 20이 되어야 <a href="http://clashofclans.wikia.com/wiki/Dragon">드래곤(Dragon)</a>을 드릴 수 있습니다. 그 이상은 선택입니다.</li>
        <li>새로 생긴 건물(<a href="http://clashofclans.wikia.com/wiki/Gold_Mine">금광(Gold Mine)</a>, <a href="http://clashofclans.wikia.com/wiki/Elixir_Collector">엘릭서 정제소(Elixir Collector)</a>는 선택)</li>
        <li><a href="http://clashofclans.wikia.com/wiki/Laboratory">연구소(Laboratory)</a> 풀업</li>
        <li><a href="http://clashofclans.wikia.com/wiki/Army_Camp">집합소(Army Camp)</a> 풀업</li>
        <li><a href="http://clashofclans.wikia.com/wiki/Spell Factory">마법제작소(Spell Factory)</a> 풀업</li>
        <li><a href="http://clashofclans.wikia.com/wiki/Mortar">박격포(Mortar)</a></li>
        <li><a href="http://clashofclans.wikia.com/wiki/Wizard_Tower">마법사타워(Wizard Tower)</a></li>
        <li><a href="http://clashofclans.wikia.com/wiki/Air_Defense">대공포(Air Defense)</a></li>
        <li><a href="http://clashofclans.wikia.com/wiki/Hidden_Tesla">뇌전탑(Hidden Tesla)</a></li>
        <li><a href="http://clashofclans.wikia.com/wiki/Archer_Tower">아처타워(Archer Tower)</a></li>
        <li><a href="http://clashofclans.wikia.com/wiki/Cannon">대포(Cannon)</a></li>
        <li><a href="http://clashofclans.wikia.com/wiki/Gold_Storage">금 저장소(Gold Storage)</a>, <a href="http://clashofclans.wikia.com/wiki/Elixir_Storage">엘릭서 저장소(Elixir Storage)</a>, <a href="http://clashofclans.wikia.com/wiki/Dark_Elixir_Storage">다크 엘릭서 저장소(Gold Storage)</a>, 훈련소(Barrack), 암흑훈련소(Dark Barrack)는 필요에 따라</li>
        <li>대부분의 업그레이드(<a href="http://clashofclans.wikia.com/wiki/Wall">벽(Wall)</a>포함)를 끝낸 후 타운홀을 올려야 합니다. 타운홀 레벨 차이에 따라 공격시 자원 획득률이 달라지게 되므로 업그레이드를 완료하지 않고 먼저 올리면 자원 수급이 원활하지 않아 가난해집니다.</li>
    </ol>



</div>
