#{extends './_application.html' /}
#{set title:'Home' /}

#{set 'moreHead'}

#{/set}

<div class="container" style="padding: 10px;">
    <h3 class="coc">Clan War Strategy</h3>
    내 프로필(My Profile)에서 클랜전 참여 여부를 설정하실 수 있습니다. 하지만 인원이 부족할 경우 불참으로 설정하셨어도 참여인원이 될 수 있습니다.
    <h4 class="coc">Defense</h4>
    <ul>
        <li>War Base의 자원은 약탈당하더라도 본진 자원이 약탈당하는게 아니고, 아무 피해가 없습니다.</li>
        <li>War Base에서 Town Hall과 Clan Castle은 가장 안전한 위치에 두세요.</li>
        <li>
            War Base의 방어병력은 상위 랭커가 채웁니다.
            <ul>
                <li>
                    적 기지에 "암흑 마법 제작소"가 있을 경우
                    <ul>
                        <li>클랜성 인구 30 = 발리키(8) * 2 + 힐러(14)</li>
                        <li>클랜성 인구 25 = 발리키(8) + 힐러(14) + 아처(1) * 3</li>
                        <li>클랜성 인구 20 = 발리키(8) + 마법사(4) * 3</li>
                    </ul>
                </li>
                <li>
                    적 기지에 "암흑 마법 제작소"가 없을 경우
                    <ul>
                        <li>클랜성 인구 30 = 발리키(8) + 위치(12) + 마법사(4) * 2 + 아처(1)</li>
                        <li>클랜성 인구 25 = 발리키(8) + 위치(12) + 마법사(4) + 아처(1)</li>
                        <li>클랜성 인구 20 = 발리키(8) + 위치(12)</li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>새로 추가된 건물들이 있을 수 있으니 War Base를 꼭 점검해 주세요.</li>
    </ul>
    <h4 class="coc">Attack</h4>
    <ul>
        <li>첫 공격은 자신과 동순위의 적을 공격해야 합니다.</li>
        <li>두번째 공격은 자신의 순위 근방을 공격해 주세요. 너무 낮은 곳을 공격하면 하위 랭커가 공격할 수가 없습니다.</li>
        <li>아래에서부터 별 획득 위주로 별을 쓸어담아 올라가게 됩니다.</li>
        <li>공격 전에 Dragon을 드릴테니 필히 요청주세요. 또한 Spell이 있는지 확인해 주세요.</li>
        <li>클랜성 병력을 유인하여 처리한 후 공격합니다.</li>
        <li>드래곤은 다른 유닛과 섞는 것 보다 드래곤만 뽑아서 공격하는게 낫습니다.</li>
    </ul>
</div>
