#{extends 'main.html' /}
#{set title:'Home' /}

<div class="container" style="padding: 10px;">
    <div style="">

    </div>
    <h1>Wururung!</h1>
    <ul>
        <li>
            안녕하세요, Wururung입니다.
        </li>
        <li >
            Contact:
            <a href="http://facebook.com/aha00a">
                <img style="width: 16px; height: 16px; vertical-align: middle;" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xaf1/v/t1.0-1/c12.12.155.155/576889_449528545089056_951742509_n.jpg?oh=30c8be2776e4c1b051b84c63c4e118ab&oe=54EC28AE&__gda__=1425594912_c0022cd343e150b1199404c85e54fad0"/>
                Aha00a
            </a>
        </li>
    </ul>
    <hr/>
    <h2>Clash of Clans</h2>
    <h3>정보</h3>
    <ul>
        <li>
            매달 5, 15, 25일에 클랜전을 시작합니다.
        </li>
        <li>
            클랜전 필참입니다.
        </li>
    </ul>

    <h3>클랜전</h3>
    <ul>
        <li>새로 추가된 건물들이 있을 수 있으니 War Base를 꼭 점검해 주세요.</li>
        <li>War Map에서 Town Hall과 Clan Castle은 가장 안전한 위치에 두세요.</li>
        <li>War Map의 자원은 약탈당하더라도 본진 자원이 약탈당하는게 아니고, 아무 피해가 없습니다.</li>
        <li>자신의 순위 근방을 공격해 주세요. 너무 낮은 곳을 공격하면 하위 랭커가 공격할 수가 없습니다.</li>
        <li>아래에서부터 별 획득 위주로 별을 쓸어담아 올라가게 됩니다.</li>
        <li>공격 전에 Dragon을 드릴테니 필히 요청주세요.</li>
        <li>클랜성 병력을 유인하여 처리한 후 공격합니다.</li>
        <li>드래곤은 다른 유닛과 섞는 것 보다 드래곤만 뽑아서 공격하는게 낫습니다.</li>
    </ul>

    <h3>COC 추천 업그레이드 순서</h3>
    <ol>
        <li>새로 생긴 건물을 다 짓는다.(금광, 엘릭서 정제소는 선택)</li>
        <li>연구소 풀업</li>
        <li>집합소 풀업</li>
        <li>클랜성 풀업(레벨3까지만 우선순위가 높지만 레벨 4때부터는 본인 마음...)</li>
        <li>마법제작소 풀업</li>
        <li>박격포</li>
        <li>마법사타워</li>
        <li>대공포</li>
        <li>뇌전탑</li>
        <li>아처타워</li>
        <li>대포</li>
        <li>(골드, 엘릭서, 다크 엘릭서)저장소, (암흑)훈련소는 필요에 따라 그때그때 업그레이드~</li>
    </ol>


    <hr/>

    <h2>Boom Beach</h2>
    <h3>정보</h3>
    <ul>
        <li>
            아직은 별다른게 없습니다.
        </li>
    </ul>
    <hr/>
    <div>
        Powered by
        <a href="http://nativebinary.com">
            <img style="width: 16px; height: 16px; vertical-align: middle;" src="http://nativebinary.com/public/images/nativebinary.512x512.bgwhite.png"/>
            nativebinary
        </a>
    </div>

</div>
