#{extends './_application.html' /}
#{set title:'Home' /}

#{set 'moreHead'}

#{/set}

    <h3 class="coc">Facebook Group</h3>
    <ul>
        <li><a href="https://www.facebook.com/groups/wururung">http://facebook.com/groups/wururung</a></li>
    </ul>

    <h3 class="coc">Rules</h3>
    <ul>
        <li><s>매달 5일, 15일, 25일 14시에 클랜전을 시작합니다.</s> 2015-04-16부터 상시 클전 체제로 전환합니다. 클전 참여 상태가 켜져 있으면 참가표시라고 보고 무조건 클전 돌립니다. 상시 클전이 부담스러우신 분께서는 꺼두셨다가 하고 싶을때 켜시면 바로 참전됩니다.</li>
        <li>클랜전 참여인원이 되었을 경우 공격기회를 반드시 사용하여 주세요.</li>
    </ul>

    <h3 class="coc">Replay</h3>
    %{
        def listReplay = [
            ["라바하운드 2", "//www.youtube.com/embed/2oYAj7tMFkQ"],
            ["그냥 폭탄도 뭉치면 강해요^^", "//www.youtube.com/embed/xQ-3Quzriok"]
        ];
    }%
    #{list 0..listReplay.size() - 1}
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingReplay${_}">
                <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseReplay${_}" aria-expanded="false" aria-controls="collapseReplay${_}">
                    ${listReplay[_][0]}
                    </a>
                </h4>
            </div>
            <div id="collapseReplay${_}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingReplay${_}">
                <div class="panel-body">
                    <iframe width="1280" height="800" src="${listReplay[_][1]}" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    #{/list}


</div>
